body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  background: hsla(232, 73%, 65%, 1);

  background: linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(261, 72%, 65%, 1) 19%, hsla(266, 83%, 23%, 1) 71%, hsla(266, 83%, 23%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(261, 72%, 65%, 1) 19%, hsla(266, 83%, 23%, 1) 71%, hsla(266, 83%, 23%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(261, 72%, 65%, 1) 19%, hsla(266, 83%, 23%, 1) 71%, hsla(266, 83%, 23%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#6576e7", endColorstr="#9265e6", GradientType=1);


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link {
  cursor: pointer;
}




/***** SPRING REACT ANIMATION *****/

.animation_layer {
  min-height: 100vh;
  background-position: bottom center;
  background-size: repeat-x;
  width: 100%;
  position: absolute;
}



.parallax::-webkit-scrollbar {
  display: none;
}

#imgBackgroundBase {
  background-image: url('./media/01_parallax_bkg_base.png');
}

#imgBackgroundGlitter {
  background-image: url('./media/02_parallax_bkg_glitter.png');
}

#imgThirdRow {
  background-image: url('./media/03_parallax_3rd_row.png');
}

#imgSecondRow {
  background-image: url('./media/04_parallax_2nd_row.png');
}

#imgFirstRow {
  background-image: url('./media/05_parallax_1st_row.png');
}