body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgba(0, 10, 31, 255); 
  background: hsla(232, 73%, 65%, 1);

background: linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(279, 33%, 48%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(279, 33%, 48%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(279, 33%, 48%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6274E7", endColorstr="#8752A3", GradientType=1 ); */

  background: hsla(232, 73%, 65%, 1);

  background: linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(277, 56%, 59%, 1) 47%, hsla(261, 72%, 65%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(277, 56%, 59%, 1) 47%, hsla(261, 72%, 65%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(277, 56%, 59%, 1) 47%, hsla(261, 72%, 65%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#6576e7", endColorstr="#A55CD1", GradientType=1);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link {
  cursor: pointer;
}

